body {
  margin: 0;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

.outer {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
}
.project {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  color: #000000;
  text-align: center;
}
.para {
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .project {
    font-size: 2.5rem;
    line-height: 60px;
  }
  .para {
    width: 100%;
    font-size: 1.2rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
}
